In [50]:
import pandas as pd

In [51]:
data = pd.read_csv("../data/Airbnb_Open_Data.csv")
data

/var/folders/jh/rt55rnlj5lx_xsb8c7v63bj40000gn/T/ipykernel_1601/3678002103.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../data/Airbnb_Open_Data.csv")

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [73]:
#Data exploration
#How manys percent og the accommodations can still be rented for one year

data = pd.read_csv("../data/Airbnb_Open_Data.csv")
data.loc[data["availability 365"] > 365, "availability 365"] = 365
data.loc[data["availability 365"] < 0, "availability 365"] = 0
#Drop rows which 


def room_availability_in_exact_days(days: int, data: pd.DataFrame) -> pd.DataFrame:
    listings = data[data['availability 365'] == days]
    quotient = data.shape[0] / listings.shape[0]
    return round(100 / quotient)

def room_availability_less_than(days: int):
    listings = data[data['availability 365'] <= days]
    quotient = data.shape[0] / listings.shape[0]
    return round(100 / quotient)

def room_type_max_availability_per_type() -> pd.DataFrame:
    listings = data.groupby("room type")["availability 365"].max()
    return listings

def room_type_min_availability_per_type() -> pd.DataFrame:
    listings = data.groupby("room type")["availability 365"].min()
    return listings

def room_type_avg_availability_per_type():
    listings  = data.groupby("room type")["availability 365"].mean()
    return listings

def percentage_no_availability_per_type():
    listings = data[data["availability 365"] == 0]
    listings_grouped_by_type = listings.groupby("room type")["availability 365"].count()
    total_count = data.groupby("room type")["availability 365"].count()
    quotient = total_count / listings_grouped_by_type
    result = 100 / quotient
    return result

def percentage_availability_per_type(days: int):
    listings = data[data["availability 365"] >= days]
    listings_grouped_by_type = listings.groupby("room type")["availability 365"].count()
    total_count = data.groupby("room type")["availability 365"].count()
    quotient = total_count / listings_grouped_by_type
    result = 100 / quotient
    return result


def room_availability_with_price_less_than(price: float):
    mean = data.loc[data["price"] <= price, "price"].mean()
    return mean

def no_room_availability_with_price_less_than(price: float):
    listings = data[["price", "availability 365"]]
    listings = listings.dropna(thresh=2)
    prices = listings["price"].str.replace(",", ".").str[1:].astype(float)
    listings["price"] = prices
    listings = listings[listings["price"] <= price]
    listings_no_availability = listings[listings["availability 365"] == 0]
    quotient = listings.shape[0] / listings_no_availability.shape[0]
    return 100 /  quotient

/var/folders/jh/rt55rnlj5lx_xsb8c7v63bj40000gn/T/ipykernel_1601/2305560684.py:4: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../data/Airbnb_Open_Data.csv")

In [84]:
no_room_availability_with_price_less_than(1.0)

31.42857142857143

In [85]:
data

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,365.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,365.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

In [20]:
import pandas as pd
data = pd.read_csv("../data/Airbnb_Open_Data.csv")
def listing_with_max_availability(data):
    listings_grouped_by_type = data.groupby("room type")["availability 365"].sum()
    idx = listings_grouped_by_type.idxmax()
    return (listings_grouped_by_type[idx], idx)
listing_with_max_availability(data)

SyntaxError: expected ':' (1818108283.py, line 3)